/* GLOBAL STYLES */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  position: relative;
}

body {
  overflow-x: hidden;
  min-width: 320px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
